## 1. Analysing movie ratings
<p>Here we are going to demonstrate some analysis performed upon movie ratings data and the preperation involved to be turned into a former proper for later usage with machine learning algorithms. This dataset is provided by <a src="https://grouplens.org/datasets/movielens/">GroupLens Research</a> and is collected by users of MovieLens which essentialy is a movie recomendations service (more about MovieLens <a src="https://movielens.org/">here</a>).</p>
<img src="https://md.ekstrandom.net/talks/2014/recsys2014/grouplens.png" "width=150px">
<p>Just to give a brief description of them, the data provide movie ratings, movie metadata (genres and year), and demographic data about the users(age, zip code, gender identification and occupation) and this is the information that is often of interest in the development of recommendation systems. The dataset contains 1 million ratings collected from 6,000 users on 4,000 movies and it is spread across three tables: ratings, user inforamtion and movie information.</p>
<hr>
<p>So let's begin! First we will import our data and print the first few lines to have a look of the data structure.
    <br><strong>Note: </strong>some of the data contained are sensitive so they've been kept anonymous, for example by assigning an integer to each different occupation.</p>

In [70]:
import pandas as pd

# Make display smaller
pd.options.display.max_rows = 10

# Create dataframe for users info
unames = ['user_id', 'gender', 'age', 'occupation', 'zip']
users = pd.read_table('./datasets/movielens/users.dat', sep='::',
                      names=unames, engine='python')

# Create dataframe for ratings info
rnames = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_table('./datasets/movielens/ratings.dat', sep='::',
                       names=rnames, engine='python')

# Create dataframe for movies info
mnames = ['movie_id', 'title', 'genres']
movies = pd.read_table('./datasets/movielens/movies.dat', sep='::',
                      names=mnames, engine='python')

# Print few first lines of each
print("Users Table\n", users.head(), end='\n\n')
print("Ratings Table\n", ratings.head(), end='\n\n')
print("Movies Table\n", movies.head())

print(users.info, '\n')
print(ratings.info, '\n')
print(movies.info, '\n')

Users Table
    user_id gender  age  occupation    zip
0        1      F    1          10  48067
1        2      M   56          16  70072
2        3      M   25          15  55117
3        4      M   45           7  02460
4        5      M   25          20  55455

Ratings Table
    user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

Movies Table
    movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy
<bound method DataFrame.info of       user_id gender  age  occupation    zip
0           1      F    1          10  48067
1           2      M   56          16  70072
2           3      M   25          15  55117
3           4      M   45           7  02460
4           5      M   25          20  55455
...       ...    ...  ...         ...    ...
6035     6036      F   25          15  32603
6036     6037      F   45           1  76006
6037     6038      F   56           1  14706
6038     6039      F   45           0  01060
6039     6040      M   25           6  11106

[6040 rows x 5 columns]>

<bound method DataFrame.info of          user_id  movie_id  rating  timestamp
0              1      1193       5  978300760
1              1       661       3  978302109
2              1       914       3  978301968
3              1      3408       4  978300275
4              1      2355       5  978824291
...          ...       ...     ...        ...
1000204     6040      1091       1  956716541
1000205     6040      1094       5  956704887
1000206     6040       562       5  956704746
1000207     6040      1096       4  956715648
1000208     6040      1097       4  956715569

[1000209 rows x 4 columns]>

<bound method DataFrame.info of       movie_id                               title  \
0            1                    Toy Story (1995)
1            2                      Jumanji (1995)
2            3             Grumpier Old Men (1995)
3            4            Waiting to Exhale (1995)
4            5  Father of the Bride Part II (1995)
...        ...                                 ...
3878      3948             Meet the Parents (2000)
3879      3949          Requiem for a Dream (2000)
3880      3950                    Tigerland (2000)
3881      3951             Two Family House (2000)
3882      3952               Contender, The (2000)

                            genres
0      Animation|Children's|Comedy
1     Adventure|Children's|Fantasy
2                   Comedy|Romance
3                     Comedy|Drama
4                           Comedy
...                            ...
3878                        Comedy
3879                         Drama
3880                         Drama
3881                         Drama
3882                Drama|Thriller

[3883 rows x 3 columns]>

## 2. Merging the tables
<p>We can easily notice the aforementioned "encryption" of sensitive data. We can always refer to the <em>README</em> file, about the integer representation of these data, that is included within the <em>datasets</em> file.</p>
<p>Working with 3 different tables is not very convenient so we are going to merge them into one. That way we will be able to have a broader perspective. Since all of the 3 tables contain the <code>movie_id</code> we don't have to be explicit about on which column to join. This could be </p>

In [71]:
# TODO: Need a work around. "triple" merging freezes computer/kills notebook kernel

# Temp df for column merging
# data = pd.DataFrame(columns=(ratings.columns.append(users.columns)).unique())

# # Empty dataframe with columns need. Will be used in later chunking
# data = pd.DataFrame(columns=(data.columns.append(movies.columns)).unique())

# # Save dataframes to .csv to reimport them chuncked
# data.to_csv('./datasets/data.csv', index_label=False)
users.to_csv('./datasets/users.csv', index_label=False)
ratings.to_csv('./datasets/ratings.csv', index_label=False)
movies.to_csv('./datasets/movies.csv', index_label=False)

# Delete variable that contained the dataframes to free memory
# del[users]

# for chunk in pd.read_csv('./datasets/users.csv', chunksize=1000):
#     df = pd.merge(ratings, chunk, on='user_id')

# print(df.head(), end='\n')
# df['title'] = None
# df['genres'] = None
# df.to_csv('./datasets/data.csv', mode='a', header='False', index='False')

# print(df.dtypes)
# del[ratings, df]  
# for chunk in pd.read_csv('./datasets/data.csv', chunksize=1000):
#     df = pd.merge(chunk, movies, on='movie_id') 
    
# # df.head()

# Another solution
df = pd.merge(users, ratings)
df.to_csv('./datasets/data.csv', mode='w')
print(df.info)
del[df, ratings, users]
for chunk in  pd.read_csv('./datasets/data.csv', chunksize=1000):
    df = pd.merge(chunk, movies, on='movie_id')

<bound method DataFrame.info of          user_id gender  age  occupation    zip  movie_id  rating  timestamp
0              1      F    1          10  48067      1193       5  978300760
1              1      F    1          10  48067       661       3  978302109
2              1      F    1          10  48067       914       3  978301968
3              1      F    1          10  48067      3408       4  978300275
4              1      F    1          10  48067      2355       5  978824291
...          ...    ...  ...         ...    ...       ...     ...        ...
1000204     6040      M   25           6  11106      1091       1  956716541
1000205     6040      M   25           6  11106      1094       5  956704887
1000206     6040      M   25           6  11106       562       5  956704746
1000207     6040      M   25           6  11106      1096       4  956715648
1000208     6040      M   25           6  11106      1097       4  956715569

[1000209 rows x 8 columns]>

In [72]:

print(df.info)
print(df.head())

<bound method DataFrame.info of      Unnamed: 0  user_id gender  age  occupation    zip  movie_id  rating  \
0       1000000     6040      M   25           6  11106      3552       2
1       1000001     6040      M   25           6  11106      1952       5
2       1000002     6040      M   25           6  11106      1954       3
3       1000003     6040      M   25           6  11106        25       3
4       1000004     6040      M   25           6  11106       348       2
..          ...      ...    ...  ...         ...    ...       ...     ...
204     1000204     6040      M   25           6  11106      1091       1
205     1000205     6040      M   25           6  11106      1094       5
206     1000206     6040      M   25           6  11106       562       5
207     1000207     6040      M   25           6  11106      1096       4
208     1000208     6040      M   25           6  11106      1097       4

     timestamp                              title  \
0    956715942                  Caddyshack (1980)
1    957717017             Midnight Cowboy (1969)
2    960972782                       Rocky (1976)
3    957717322           Leaving Las Vegas (1995)
4    956704972       Bullets Over Broadway (1994)
..         ...                                ...
204  956716541         Weekend at Bernie's (1989)
205  956704887            Crying Game, The (1992)
206  956704746    Welcome to the Dollhouse (1995)
207  956715648             Sophie's Choice (1982)
208  956715569  E.T. the Extra-Terrestrial (1982)

                              genres
0                             Comedy
1                              Drama
2                       Action|Drama
3                      Drama|Romance
4                             Comedy
..                               ...
204                           Comedy
205                Drama|Romance|War
206                     Comedy|Drama
207                            Drama
208  Children's|Drama|Fantasy|Sci-Fi

[209 rows x 11 columns]>
   Unnamed: 0  user_id gender  age  occupation    zip  movie_id  rating  \
0     1000000     6040      M   25           6  11106      3552       2
1     1000001     6040      M   25           6  11106      1952       5
2     1000002     6040      M   25           6  11106      1954       3
3     1000003     6040      M   25           6  11106        25       3
4     1000004     6040      M   25           6  11106       348       2

   timestamp                         title         genres
0  956715942             Caddyshack (1980)         Comedy
1  957717017        Midnight Cowboy (1969)          Drama
2  960972782                  Rocky (1976)   Action|Drama
3  957717322      Leaving Las Vegas (1995)  Drama|Romance
4  956704972  Bullets Over Broadway (1994)         Comedy