## 1. Analysing movie ratings
<p>Here we are going to demonstrate some analysis performed upon movie ratings data and the preperation involved to be turned into a former proper for later usage with machine learning algorithms. This dataset is provided by <a src="https://grouplens.org/datasets/movielens/">GroupLens Research</a> and is collected by users of MovieLens which essentialy is a movie recomendations service (more about MovieLens <a src="https://movielens.org/">here</a>).</p>
<img src="https://md.ekstrandom.net/talks/2014/recsys2014/grouplens.png" "width=150px">
<p>Just to give a brief description of them, the data provide movie ratings, movie metadata (genres and year), and demographic data about the users(age, zip code, gender identification and occupation) and this is the information that is often of interest in the development of recommendation systems. The dataset contains 1 million ratings collected from 6,000 users on 4,000 movies and it is spread across three tables: ratings, user inforamtion and movie information.</p>
<hr>
<p>So let's begin! First we will import our data and print the first few lines to have a look of the data structure.
    <br><strong>Note: </strong>As will we see in the output following this code block,some of the data contained are sensitive so they've been kept anonymous through an integer "encryption". We can always refer to the <em>README</em> file, about the integer representation of these data, that is included within the <em>datasets</em> file.</p>

In [34]:
import pandas as pd

# Make display smaller
pd.options.display.max_rows = 10

# Create dataframe for users info
unames = ['user_id', 'gender', 'age', 'occupation', 'zip']
users = pd.read_table('./datasets/movielens/users.dat', sep='::',
                      names=unames, engine='python')

# Create dataframe for ratings info
rnames = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_table('./datasets/movielens/ratings.dat', sep='::',
                       names=rnames, engine='python')

# Create dataframe for movies info
mnames = ['movie_id', 'title', 'genres']
movies = pd.read_table('./datasets/movielens/movies.dat', sep='::',
                      names=mnames, engine='python')

# Print few first lines of each
print("Users Table\n", users.head(), end='\n\n')
print("Ratings Table\n", ratings.head(), end='\n\n')
print("Movies Table\n", movies.head())

print(users.min())

Users Table
    user_id gender  age  occupation    zip
0        1      F    1          10  48067
1        2      M   56          16  70072
2        3      M   25          15  55117
3        4      M   45           7  02460
4        5      M   25          20  55455

Ratings Table
    user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

Movies Table
    movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy
user_id           1
gender            F
age               1
occupation        0
zip           00231
dtype: object

## 2. Merging the tables
<p>Working with 3 different tables is not very convenient so we are going to merge them into one. That way we will be able to have a broader perspective. Since all of the 3 tables contain the <code>movie_id</code> we don't have to be explicit about on which column to join.</p>
<p>One note of importance is the fact that merging big dataframes can be a really costly operation, in terms of resources like memory, so in the world of Big Data such kind of operation is usually performed with the use of cloud computing. Even in our project here a low specifications computer will have a hard time to perform the merge (especially the last one which produces a dataframe of <em>1M x 10</em> dimensions so a work around is to merge in chunks to allow better merory management.</p>

In [35]:
# Create a template with columns that appear in the final data file.
# First the  unique columns from "ratings" and "user".
data = pd.DataFrame(columns=(ratings.columns.append(users.columns)).unique())

# Then also the unique columns from "movies" and save it
data = pd.DataFrame(columns=(data.columns.append(movies.columns)).unique())
data.to_csv('./datasets/data.csv', index_label=False)

# First merge "ratings" with "users". 
df = pd.merge(users, ratings)

# Save it to csv and delete variables to free memory
df.to_csv('./datasets/ratings_users.csv', mode='w')
del[df, ratings, users]

# Merge "ratings_users" with "movies" in chunks. Prevents memory failure
for chunk in  pd.read_csv('./datasets/ratings_users.csv', chunksize=1000):
    df = pd.merge(chunk, movies, on='movie_id')
    df.to_csv('./datasets/data.csv', mode='a',  header=False, index=False)
    
# Create dataframe from our completed csv
del[movies]
df = pd.read_csv('./datasets/data.csv')
df.head()

,user_id,movie_id,rating,timestamp,gender,age,occupation,zip,title,genres
0,1,F,1,10,48067,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama
120,2,M,56,16,70072,1193,5,978298413,One Flew Over the Cuckoo's Nest (1975),Drama
1,1,F,1,10,48067,661,3,978302109,James and the Giant Peach (1996),Animation|Children's|Musical
2,1,F,1,10,48067,914,3,978301968,My Fair Lady (1964),Musical|Romance
507,6,F,50,9,55117,914,5,978237767,My Fair Lady (1964),Musical|Romance